.title{
    margin-bottom: 15px;
}

.contactus-p{
    padding: 15px;
    text-align: center;
    font-family: cursive;
    margin-bottom: 30px;
}

.contactus-table td{
    padding: 15px;
    text-align: left;
    position: relative;
    left: 570px;
    padding: 10px;

}
